body,
html {
  width: 100%;
  height: 100%;
  padding: 267px 480px 266.43px 480px;
  background-color: #f5f5f5;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
.card {
  background-color: white;
  width: 90vw;
  max-width: 480px;
  height: auto;
  min-height: 450.57px;
  box-shadow: 0px 1px 3px 0px #0000001f, 0px 1px 1px 0px #00000024,
    0px 2px 1px -1px #00000033;
  flex-direction: column;
  border-radius: 4px 0px 0px 0px;
}
.card-media {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.asset {
  width: 168px;
  display: flex;
  justify-content: center;
  padding: 40px 24px 24px 24px;
}
.type-mark,
.vector {
  width: auto;
  max-width: 100%;
}
.card-header {
  width: 100%;
  padding: 8px 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title-card,
.sub-header {
  margin: 0;
  font-family: "Roboto";
}
.title-card {
  font-weight: 700;
  font-size: 24px;
  color: #000000de;
}

.sub-header {
  font-weight: 400;
  font-size: 14px;
  color: #00000099;
  margin-top: 5px;
}
.user-data {
  width: 100%;
  padding: 0px 40px 40px 40px;
}

#login-form {
  width: 100%;
  padding: 16px 0px 0px 0px;
  margin-bottom: 20px;
}
.text-field {
  position: relative;
}
input {
  width: 400px;
  height: 56px;
  padding: 0px 12px;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid #ccc;
}
label {
  color: #aaa;
  position: absolute;
  pointer-events: none;
  left: 12px;
  top: 15px;
  font-weight: 400;
  font-size: 16px;
  font-family: "Roboto";
  transition: all 0.3s ease;
  background-color: white;
}

input:focus ~ label,
input.used ~ label {
  top: -10px;
  transform: scale(0.75);
  left: -1px;
}

input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  box-shadow: 0 0 0 1000px white inset !important;
}

.form-helper-text {
  width: 400px;
  height: 23px;
  padding: 3px 14px 0px 14px;
  gap: 0px;
  opacity: 0px;
}
.form-helper-text .helper-text {
  color: #d32f2f;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  line-height: 19.92px;
  letter-spacing: 0.4000000059604645px;
  text-align: left;
}
input.error {
  border-color: #ff4d4f;
}
.label-error {
  color: #ff4d4f;
}
input.error:focus {
  border-color: #ff4d4f;
  box-shadow: none;
}
.button {
  width: 400px;
  height: 42px;
  padding: 8px 22px;
  border-radius: 4px 0 0 0;
  opacity: 1;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  box-shadow: 0px 3px 1px -2px #00000033, 0px 2px 2px 0px #00000024,
    0px 1px 5px 0px #0000001f;
}
.button:hover {
  background-color: #0056b3;
}
