:root {
  box-sizing: border-box;
  font-size: 1rem;
  --main-color: white;
  --text-color: #00000099;
  --error-color: #ff4d4f;
  --main-font: "Roboto";
}
*,
::before,
::after {
  box-sizing: inherit;
}
body,
html {
  width: 100vw;
  height: 100vh;
  padding: 16.68rem 30rem;
  background-color: #f5f5f5;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
}
.card {
  background-color: var(--main-color);
  width: 90vw;
  max-width: 30rem;
  height: auto;
  min-height: 28.16rem;
  box-shadow: 0px 1px 3px 0px #0000001f, 0px 1px 1px 0px #00000024,
    0px 2px 1px -1px #00000033;
  flex-direction: column;
  border-radius: 4px;
}

.card-media {
  justify-content: center;
  display: flex;
  height: 6.25rem;
  gap: 0.625rem;
}
.asset {
  width: 10.5rem;
  height: 8.28rem;
  padding: 2.5rem 1.5rem 1.5rem 1.5rem;
  gap: 0.625rem;
}
.type-mark {
  width: 7.5rem;
  height: 3.6rem;
  padding: 0.28rem 0.1rem;
}
.vector {
  width: 7.29rem;
  height: 3.72rem;
}
.card-header {
  width: 30rem;
  height: 4.75rem;
  padding: 0.5rem 2.5rem;
  display: flex;
  flex-direction: column;
}
.content {
  width: 25rem;
  height: 3.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

 

}
.title-content {
  width: 25rem;
  height: 2rem;
}
.title-card {
  font-weight: 700;
  font-size: 1.5rem;
  color: #000000de;
  font-family: var(--main-font);
  line-height: 2rem;
  text-align: left;
}
.sub-header-content {
  width: 25rem;
  height: 1.25rem;
}
.sub-header {
  font-size: 0.875rem;
  color: var(--text-color);
  font-family: var(--main-font);
  font-weight: 400;
  line-height: 1.25rem;
  text-align: left;
}
.login-form {
  width: 30rem;
  height: 15.12rem;
  padding: 0 2.5rem 2.5rem 2.5rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  
}

.inputs {
  width: 25rem;
  height: 9rem;
  padding: 1rem 0 0 0;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.text-field {
  position: relative;
  width: 25rem;
  height: 3.5rem;
}
.input-field {
  width: 25rem;
  height: 3.5rem;
  padding: 0 0.75rem;
  border-radius: 4px;
  border: 1px solid #0000003b;
}
.input-field:focus {
  border-color: rgba(86, 160, 238, 0.5);
  box-shadow: 0 0 5px rgba(12, 122, 239, 0.5);
  outline: none;
}
.labels {
  color: var(--text-color);
  line-height: 1.5rem;
  letter-spacing: 0.009rem;
  text-align: left;
  position: absolute;
  pointer-events: none;
  left: 0.75rem;
  top: 0.93rem;
  font-weight: 400;
  font-size: 1rem;
  font-family: var(--main-font);
  transition: all 0.3s ease;
  background-color: var(--main-color);
}

.input-field:focus ~ .labels,
.input-field:not(:placeholder-shown) ~ .labels {
  top: -0.625rem;
  transform: scale(0.75);
  left: -0.06rem;
}



.input-field:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px var(--main-color) inset !important;
  box-shadow: 0 0 0 1000px var(--main-color) inset !important;
}

.form-helper-text {
  width: 25rem;
  height: 1.43rem;
  padding: 0.18rem 0.875rem 0 0.875rem;
}
.frame-helper-text {
  width: 23.25rem;
  height: 1.25rem;
}
.helper-text {
  color: #d32f2f;
  font-family: var(--main-font);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.24rem;
  letter-spacing: 0.02rem;
  text-align: left;
}
.input-field.error {
  border-color: var(--error-color);
}
.input-field.label-error ~ .labels {
  color: var(--error-color);
}
.button {
  width: 25rem;
  height: 2.625rem;
  padding: 0.5rem 1.375rem;
  border-radius: 4px;
  background-color: #2196F3;
  color: var(--main-color);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  box-shadow: 0px 3px 1px -2px #00000033, 0px 2px 2px 0px #00000024,
    0px 1px 5px 0px #0000001f;

font-family: var(--main-font);
font-size: 0.93rem;
font-weight: 500;
line-height: 1.625rem;
letter-spacing: 0.02rem;
text-align: left;



}
